
<header>
  <!-- <h1 style="margin:10px 0px 0px 50px;">Angular Training</h1> -->
  <nav>
    <a routerLink="/dashboard">Dashboared</a>
    <a routerLink="/todos">Todos</a>
    <a routerLink="/todos">Register</a>
    <button  mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </nav>
</header>

<main>
  <router-outlet></router-outlet> 
  
  <!-- <div> buuton samples
    <section style="margin-left:10px;">
      
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  </div> -->
<br>

<div class="flex flex-row items-center justify-center m-5">
  <button mat-raised-button
    color="accent"
    (click)="openDialog()"> Open my Dialog</button>
</div>

</main>

<footer>
  <p>&copy; 2017 Angular Revise</p>
</footer>


<!-- <p>Today date is:{{dob}}</p>
<p class="p-4 border-2 border-blue-500">Today is : <b>{{dob|date:'short'}}</b></p>
  <p class="p-4 m-2 border-2 border-blue-500">Today is : <b>{{dob|date:'MM/d/yyyy, h:mm a'}}</b></p>
  <p class="p-4 m-2 border-2 border-blue-500">Digit is : <b>{{dig|number:'2.2-2'}}</b></p>


  <h2>{{val}}</h2>
  <h2 *ngIf="myObs$ | async as myObsValue">{{myObsValue}}</h2>  -->
  <!-- async pipe example with observable -->

  <!-- <p class="p-4 m-2 border-2 border-blue-500">My Age is :
    <b>{{'1992-06-27'|age}}</b>
  </p>

  <button (click)="increment1()"class="btn btn-success">Increment1</button>

  {{total1}} ==> {{total1 | marks}}

  <hr>
  <button (click)="increment2()"class="btn btn-danger">Increment2</button>

  {{total2}} -->
  <!-- 
    pipes are uses to pass values
    can be use pipe output for other pipe input
  npx ng g p pipes/age 2)npm start
  ls-1
  ls-1 grep 'src'
  -->